*,
*::before,
*::after {
	box-sizing: border-box;
}

:root {
	--clr-red: #B32137;
	--clr-purp: #81256C;
	--clr-dark: #282727;
	--clr-light: #fff;
}

header {
	background-color: var(--clr-dark);
}

.header {
	position: relative;
}

h1,
h2,
h3,
p {
	margin: 0;
}

.events--disp {
	background-image: url('../extra/library-activities.jpg');
	color: var(--clr-light);
	height: 50vh;
	background-size: cover;
	background-position: top;
	display: flex;
	align-items: center;
	justify-content: center;
	p {
		font-size: clamp(2em, 5vw, 5em);
		padding: .5em;
		height: fit-content;
		background: rgba($color: #000000, $alpha: .5);
		font-weight: 600;
	}
}

.events--bread {
	.events--nav {
		display: flex;
		margin-top: -3em;
		margin-left: 5em;
		li {
			background: var(--clr-light);
			color: var(--clr-dark);
			box-shadow: 3px 3px 3px #ccc;
			font-size: 20px;
			min-height: 2em;
			margin: 0 -.5em;
			padding: .1em 2em;
			clip-path: polygon(14% 0, 86% 0, 75% 100%, 0% 100%);
		}
	}
}
