@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

$primary: #ff7420;
$light: #ffffff;
$offlight: #ccc;
$dark: #242124;
// $offdark: rgba($color: #000000, $alpha: .7);

* {
	margin: 0;
	box-sizing: border-box;
	// max-width: 100vw;
	// max-height: 100vh;
	user-select: none;
}

body {
	font-family: 'Inter', sans-serif;
}

.bg {
	position: absolute;
	width: 100vw;
	height: 100vh;
	z-index: -1000;
	object-fit: cover;
	overflow: hidden;
	filter: brightness(.2) saturate(.2);
	// background: #442b3c;
}

.homepage {
	height: 100vh;
	width: 100vw;
	display: flex;
	overflow: hidden;
	color: $light;
	background: $dark;
}

.navbar {
	// grid-area: nav;
	background: $primary;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;

	.navbar__menu-links {
		display: flex;
		flex-direction: row;
		gap: 4em;
		list-style-type: none;
		position: absolute;
		top: 2em;
		left: 12%;

		.navbar__menu-link a {
			text-decoration: none;
			color: $light;
			text-transform: capitalize;
			font-weight: 500;
			// text-transform: uppercase;
			font-size: 1em;
			padding: .5em;
			border-bottom: 2px solid transparent;
			transition: border 250ms;

			&:hover {
				border-bottom: 2px solid $primary;
			}
		}

		.navbar__menu-link--active a {
			color: $primary;
			font-weight: 600;
		}
	}

	.navbar__socials {
		display: flex;
		flex-direction: column;
		gap: 1.2em;
		padding: 2em 0;

		.navbar__social {
			width: 1.3em;
			// height: 1.3em;
		}
	}

	.navbar__logo img {
		width: 4em;
		margin-top: .5em;
		padding: .7em;
		// background-color: black;
	}

	.navbar__contact {
		display: flex;
		align-items: center;
		position: absolute;
		right: 5vw;
		top: 2.2em;
		font-size: .7em;
		font-weight: 700;

		gap: 1em;

		img {
			height: 1em;
			display: inline-block;
		}

		.contact__phone, .contact__email {
			display: flex;
			flex-direction: row;
			gap: .5em;
			align-items: center;
		}

		.contact__contactus {
			text-decoration: none;
			color: $light;
			background: $primary;
			padding: .9em 2em;
			font-size: .8rem;
			border-radius: 100px;
			margin-left: 3em;
			width: fit-content;
		}
	}
}


.display {
	display: flex;
	// align-items: center;
	margin-top: 5em;

	.cardesc {
		display: flex;
		flex-direction: column;
		margin-top: 5em;
		margin-left: 5vw;
		width: 100%;

		.cardesc__type {
			font-size: 3em;
			font-weight: 300;
			margin-bottom: -.5em;
			padding-left: .5em;
		}

		.cardesc__name {
			font-size: 7em;
			font-weight: 700;
			line-height: 1;
			
			.model {
				-webkit-text-stroke: 2px $primary;
				-webkit-text-fill-color: transparent;
			}
		}

		.cardesc__seps {
			display: flex;
			gap: .5em;
			width: 30%;
			margin-left: 1em;
			margin-bottom: 1.5em;

			.cardesc__sep {
				background: $primary;
				height: 3px;
				border-radius: 10px;

				&:nth-child(1) {
					width: 10%;
				}

				&:nth-child(2) {
					width: 20%;
				}

				&:nth-child(3) {
					width: 100%;
				}
			}

		}
		
		.cardesc__slogan {
			font-weight: 500;

			.model {
				color: $primary;
			}
		}

		.cardesc__info {
			max-width: 25em;
			margin-top: 1em;
			font-weight: 300;
			line-height: 1.6;
		}

		.btn--primary {
			font-family: 'Inter', sans-serif;
			display: flex;
			border: 1px solid $light;
			background: transparent;
			cursor: pointer;
			color: $light;
			width: fit-content;
			height: 2em;
			padding: 1.3em 3em;
			font-weight: 600;
			font-size: 1em;
			border-radius: 300px;
			text-align: center;
			align-items: center;
			justify-content: center;
			margin-top: 2em;

			transition: all 300ms ease-in-out;

			&:hover {
				background: $primary;
				border: 1px solid $primary;
			}
		}
	}

	.jeepimg img {
		max-width: 70vw;
		right: -10em;
		bottom: 0;
		position: absolute;
		filter: brightness(.8);
		z-index: -1;
	}
}