@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");
* {
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

body {
  font-family: 'Inter', sans-serif;
}

.bg {
  position: absolute;
  width: 100vw;
  height: 100vh;
  z-index: -1000;
  -o-object-fit: cover;
     object-fit: cover;
  overflow: hidden;
  -webkit-filter: brightness(0.2) saturate(0.2);
          filter: brightness(0.2) saturate(0.2);
}

.homepage {
  height: 100vh;
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  color: #ffffff;
  background: #242124;
}

.navbar {
  background: #ff7420;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar .navbar__menu-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 4em;
  list-style-type: none;
  position: absolute;
  top: 2em;
  left: 6vw;
}

.navbar .navbar__menu-links .navbar__menu-link a {
  text-decoration: none;
  color: #ffffff;
  text-transform: capitalize;
  font-weight: 500;
  font-size: 1em;
  padding: .5em;
  border-bottom: 2px solid transparent;
  -webkit-transition: border 250ms;
  transition: border 250ms;
}

.navbar .navbar__menu-links .navbar__menu-link a:hover {
  border-bottom: 2px solid #ff7420;
}

.navbar .navbar__menu-links .navbar__menu-link--active a {
  color: #ff7420;
  font-weight: 600;
}

.navbar .navbar__socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1.2em;
  padding: 2em 0;
}

.navbar .navbar__socials .navbar__social {
  width: 1.3em;
}

.navbar .navbar__logo img {
  width: 4em;
  margin-top: .5em;
  padding: .7em;
}

.navbar .navbar__contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  right: 5vw;
  top: 2.2em;
  font-size: .7em;
  font-weight: 700;
  gap: 1em;
}

.navbar .navbar__contact img {
  height: 1em;
  display: inline-block;
}

.navbar .navbar__contact .contact__phone, .navbar .navbar__contact .contact__email {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: .5em;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar .navbar__contact .contact__contactus {
  text-decoration: none;
  color: #ffffff;
  background: #ff7420;
  padding: .9em 2em;
  font-size: .8rem;
  border-radius: 100px;
  margin-left: 3em;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.display {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 5em;
}

.display .cardesc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 5em;
  margin-left: 5vw;
  width: 100%;
}

.display .cardesc .cardesc__type {
  font-size: 3em;
  font-weight: 300;
  margin-bottom: -.5em;
  padding-left: .5em;
}

.display .cardesc .cardesc__name {
  font-size: 7em;
  font-weight: 700;
  line-height: 1;
}

.display .cardesc .cardesc__name .model {
  -webkit-text-stroke: 2px #ff7420;
  -webkit-text-fill-color: transparent;
}

.display .cardesc .cardesc__seps {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: .5em;
  width: 30%;
  margin-left: 1em;
  margin-bottom: 1.5em;
}

.display .cardesc .cardesc__seps .cardesc__sep {
  background: #ff7420;
  height: 3px;
  border-radius: 10px;
}

.display .cardesc .cardesc__seps .cardesc__sep:nth-child(1) {
  width: 10%;
}

.display .cardesc .cardesc__seps .cardesc__sep:nth-child(2) {
  width: 20%;
}

.display .cardesc .cardesc__seps .cardesc__sep:nth-child(3) {
  width: 100%;
}

.display .cardesc .cardesc__slogan {
  font-weight: 500;
}

.display .cardesc .cardesc__slogan .model {
  color: #ff7420;
}

.display .cardesc .cardesc__info {
  max-width: 25em;
  margin-top: 1em;
  font-weight: 300;
  line-height: 1.6;
}

.display .cardesc .btn--primary {
  font-family: 'Inter', sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: 1px solid #ffffff;
  background: transparent;
  cursor: pointer;
  color: #ffffff;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: 2em;
  padding: 1.3em 3em;
  font-weight: 600;
  font-size: 1em;
  border-radius: 300px;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 2em;
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}

.display .cardesc .btn--primary:hover {
  background: #ff7420;
  border: 1px solid #ff7420;
}

.display .jeepimg img {
  max-width: 70vw;
  right: -10em;
  bottom: 0;
  position: absolute;
  -webkit-filter: brightness(0.8);
          filter: brightness(0.8);
  z-index: -1;
}
/*# sourceMappingURL=style.css.map */