.domains {
  background: #166d70;
  .wrapper {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    color: white;
    max-width: 1200px;
    margin: 0 auto;
    padding: 5rem 0;
  }
}

@media only screen and (max-width: 1200px) {
  .domains .wrapper {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3rem;
  }
}
