@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@300;400;500;600;700&display=swap');
/* @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');
@layer utilities {
  .honey-bgrad {
    background: linear-gradient(223.19deg, #ff4e50 -13.57%, #f9d423 85.48%);
  }

  .text-gradient {
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .inset-middle {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }
}

.hero__img {
  width: 25rem;
  object-fit: cover;
  height: 30rem;
  border-radius: 8px;
}

.nav__link {
  position: relative;
}

.nav__link::after {
  content: '';
  height: 2px;
  border-radius: 5px;
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  margin-left: auto;
  margin-right: auto;
  transition: all 200ms ease-out;
  width: 0%;
}

.nav__link:hover::after {
  width: 90%;
  background-color: #f59e0b;
}

.book_btn:hover::after {
  width: 24px;
  margin-right: -10px;
  /* display: inline; */
}
