.booking {
  h3 {
    font-family: 'Cormorant Garamond', sans-serif;
    font-weight: 400;
    font-size: 2rem;
    text-align: center;
    margin-bottom: 1rem;
    color: #414141;
  }

  .timeslot_container {
    .datepicker {
      display: flex;
      justify-content: space-between;
      align-items: center;
      font-weight: lighter;
      font-size: 18px;
    }
  }
}

.sep {
  display: block;
  height: 1px;
  border-radius: 2px;
  width: 90%;
  margin: 0 auto;
  margin: 1rem;
  background: rgba($color: #000000, $alpha: 0.3);
}

.btn {
  width: 100%;
  background: #166d70;
  color: white;
  font-family: 'Karla', sans-serif;
  padding: 0.5rem;
  font-size: 1rem;
  border: none;
  transition: all 150ms ease-out;

  &:hover,
  &:focus {
    background: #0f4a4d;
    cursor: pointer;
  }
}

.erre {
  font-size: 14px;
  text-align: center;
  color: red;
  margin-top: 0.5rem;
}

.noslots {
  font-weight: bold;
  text-align: center;
  color: #717171;
  font-size: 1.1rem;
}

.pickedSlot {
  background-color: #ffaa00 !important;
  color: #414141 !important;

  span {
    color: #414141 !important;
  }

  &:hover,
  &:focus {
    background: #ffaa00 !important;
    transform: none !important;
  }
}
