@import url("https://fonts.googleapis.com/css2?family=Righteous&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Poppins, sans-serif;
  max-width: 100vw;
}

.hdr {
  background: conic-gradient(from 90deg at bottom right, cyan, rebeccapurple);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 6rem;
  height: 64px;
}

.hdr .logo-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1rem;
}

.hdr .logo-container img {
  height: 45px;
}

.hdr .logo-container p {
  color: #fff;
  font-size: 36px;
  font-family: Righteous;
}

.hdr .menu-closed {
  display: none;
}

.hdr .links {
  z-index: 1;
}

.hdr .links ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 3rem;
}

.hdr .links ul li {
  list-style: none;
}

.hdr .links ul li a {
  text-decoration: none;
  color: #fff;
  font-size: 1.2rem;
  font-weight: 300;
  position: relative;
}

.hdr .links ul li a::after {
  content: '';
  position: absolute;
  bottom: 0;
  width: 0%;
  height: 2px;
  background: #fff;
  right: 0;
  left: 0;
  -webkit-transition: all 150ms ease-in-out;
  transition: all 150ms ease-in-out;
}

.hdr .links ul li a:hover::after, .hdr .links ul li a:focus::after {
  width: 100%;
}

.hdr .links ul li .auth-login, .hdr .links ul li .auth-signup {
  display: none;
}

.hdr .auth-btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1rem;
  z-index: 1;
}

.hdr .auth-btns a {
  text-decoration: none;
  color: #fff;
  font-size: 1.2rem;
  font-weight: 300;
  padding: .5rem;
  position: relative;
}

.hdr .auth-btns .auth-login {
  position: relative;
}

.hdr .auth-btns .auth-login::after {
  content: '';
  position: absolute;
  bottom: 0;
  width: 0%;
  height: 2px;
  background: #fff;
  right: 0;
  left: 0;
  -webkit-transition: all 150ms ease-in-out;
  transition: all 150ms ease-in-out;
}

.hdr .auth-btns .auth-login:hover::after, .hdr .auth-btns .auth-login:focus::after {
  width: 100%;
}

.hdr .auth-btns .auth-signup {
  background: #fff;
  color: #3399cc;
  border-radius: 7px;
}

.hdr .auth-btns .auth-signup:hover, .hdr .auth-btns .auth-signup:focus {
  background-color: #ccc;
}

.hdr--trans {
  background: none;
  position: absolute;
  width: 100%;
  top: 0;
}

.login--page {
  background: conic-gradient(from 90deg at bottom right, cyan, rebeccapurple);
  background-repeat: no-repeat;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.login--page h1 {
  font-size: 5rem;
  color: #fff;
}

.login--page .container {
  background: #fff;
  padding: 2rem 1.2rem;
  border-radius: 20px;
}

.login--page .container form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1rem;
}

.login--page .container form label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-size: 1.2rem;
  font-weight: 400;
}

.login--page .container form label input {
  padding: .6rem 1rem;
  font-size: 1rem;
  border-radius: 7px;
  border: 2px solid #ccc;
}

.login--page .container form label input:hover, .login--page .container form label input:focus {
  outline: none;
  border-color: #3399cc;
}

.login--page .container form label .smalltext {
  font-size: .8rem;
  font-weight: 400;
}

.login--page .container form .sessionInvalidation {
  display: inline-block;
}

.login--page .container form .sessionInvalidation #sessionInvalidation {
  border: 1px solid #3399cc;
}

.login--page .container form .checktainer {
  position: relative;
  padding-left: 30px;
}

.login--page .container form .checktainer input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.login--page .container form .checktainer .checkmark {
  position: absolute;
  top: 3px;
  left: 0;
  height: 20px;
  width: 20px;
  background: white;
  border: 2px solid #ccc;
  border-radius: 3px;
  -webkit-transition: all 250ms ease-in-out;
  transition: all 250ms ease-in-out;
}

.login--page .container form .checktainer .checkmark:after {
  content: '';
  position: absolute;
  display: none;
  left: 6px;
  top: 2px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.login--page .container form .checktainer:hover input ~ .checkmark {
  border-color: #3399cc;
}

.login--page .container form .checktainer input:checked ~ .checkmark {
  background: #3399cc;
  border: transparent;
}

.login--page .container form .checktainer input:checked ~ .checkmark:after {
  display: block;
}

.login--page .container form .checktainer input:focus ~ .checkmark {
  border-color: #3399cc;
}

.login--page .container form button {
  border: none;
  font-size: 1.2rem;
  background: #3399cc;
  color: #fff;
  padding: .6rem;
  border-radius: 7px;
  font-weight: 600;
  text-transform: uppercase;
  cursor: pointer;
}

.login--page .container form button:hover, .login--page .container form button:focus {
  background: conic-gradient(from 90deg at bottom right, cyan, rebeccapurple);
}

main .hero {
  padding: 10rem 6rem;
  background: conic-gradient(from 90deg at bottom right, cyan, rebeccapurple);
}

main .hero .hero--disp {
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1rem;
}

main .hero .hero--disp .hero--title {
  font-family: Montserrat;
  font-weight: 300;
  font-size: 3rem;
}

main .hero .hero--disp .hero--title span {
  font-weight: 700;
}

main .hero .hero--disp .hero--desc {
  font-size: 1.05rem;
  font-weight: 300;
  width: 30rem;
  color: #ccc;
}

main .hero .hero--disp .hero--desc span {
  font-weight: 700;
}

main .hero .hero--disp .hero--links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 2rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main .hero .hero--disp .hero--links .hero--signup {
  background: #fff;
  padding: .4rem 3.5rem;
  font-size: 1.3rem;
  font-weight: 700;
  border-radius: 7px;
  color: #3399cc;
  text-decoration: none;
  -webkit-transition: all 150ms ease-in-out;
  transition: all 150ms ease-in-out;
}

main .hero .hero--disp .hero--links .hero--signup:hover, main .hero .hero--disp .hero--links .hero--signup:focus {
  background: #ccc;
}

main .hero .hero--disp .hero--links .hero--demo {
  text-decoration: none;
  color: #ccc;
  font-weight: 500;
  font-size: .8rem;
  position: relative;
}

main .hero .hero--disp .hero--links .hero--demo::after {
  content: '';
  position: absolute;
  bottom: 0;
  width: 0%;
  height: 1px;
  background: #fff;
  right: 0;
  left: 0;
  -webkit-transition: all 150ms ease-in-out;
  transition: all 150ms ease-in-out;
}

main .hero .hero--disp .hero--links .hero--demo:hover::after, main .hero .hero--disp .hero--links .hero--demo:focus::after {
  width: 100%;
}

main .hero img {
  position: absolute;
  right: 0;
  top: 1rem;
  width: 40%;
  z-index: 0;
  overflow: hidden;
}

main .testi {
  background: conic-gradient(from 90deg at bottom right, cyan, rebeccapurple);
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 3rem;
}

main .testi--header {
  font-size: 3rem;
  font-weight: 500;
  text-align: center;
  line-height: 1.2;
  margin-bottom: 2rem;
}

main .testi--content {
  font-size: 1.1rem;
  text-align: center;
  max-width: 40rem;
  margin-bottom: 2rem;
}

main .placeholder {
  background: #ccc;
  height: 5rem;
}

main .features {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 2rem;
}

main .features .feature {
  display: -ms-grid;
  display: grid;
  padding: 0rem 10rem;
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main .features .feature h3 {
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1 / span 2;
  font-size: 2.5rem;
  font-weight: 600;
}

main .features .feature img {
  -ms-grid-column: 3;
  -ms-grid-column-span: 4;
  grid-column: 3 / span 4;
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  grid-row: 1 / span 2;
}

main .features .feature .descs {
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1 / span 2;
  -ms-grid-row: 2;
  grid-row: 2;
  -webkit-columns: 2;
          columns: 2;
}

main .features .feature .descs h4 {
  font-size: 1.3rem;
  font-weight: 500;
}

main .features .feature .descs p {
  font-weight: 300;
  font-size: 1rem;
  color: rgba(0, 0, 0, 0.6);
}

main .features .feature:nth-child(2n - 1) {
  background: rgba(51, 153, 204, 0.4);
  -webkit-clip-path: polygon(0 15%, 100% 0, 100% 85%, 0% 100%);
          clip-path: polygon(0 15%, 100% 0, 100% 85%, 0% 100%);
  padding: 4rem 7rem;
}

main .features .feature:nth-child(2n - 1) img {
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1 / span 2;
}

main .features .feature:nth-child(2n - 1) h3 {
  -ms-grid-column: 3;
  -ms-grid-column-span: 4;
  grid-column: 3 / span 4;
}

main .features .feature:nth-child(2n - 1) .descs {
  -ms-grid-column: 3;
  -ms-grid-column-span: 4;
  grid-column: 3 / span 4;
}

.blank {
  height: 5rem;
}

.ftr {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.ftr .nwltr-container {
  background: #242124;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 4rem 2rem;
  gap: 2rem;
  border-radius: 7px;
  width: 70rem;
  -webkit-box-shadow: 0 2.5rem 25px rgba(0, 0, 0, 0.12);
          box-shadow: 0 2.5rem 25px rgba(0, 0, 0, 0.12);
}

.ftr .nwltr-container h4 {
  font-size: 2rem;
}

.ftr .nwltr-container .input {
  background: #fff;
  padding: .5rem;
  position: relative;
  border-radius: 7px;
  width: 30rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.ftr .nwltr-container .input input {
  font-size: 1rem;
  border: none;
}

.ftr .nwltr-container .input input:focus {
  outline: none;
}

.ftr .nwltr-container .input button {
  font-size: 1rem;
  border: none;
  background: #3399cc;
  color: #fff;
  padding: 1rem;
  border-radius: 7px;
  cursor: pointer;
}

.ftr .nwltr-container .input button:focus {
  outline: none;
}

.ftr .nwltr-container .input button:hover {
  -webkit-box-shadow: inset 3px 3px 20px 0px rgba(0, 0, 0, 0.5);
          box-shadow: inset 3px 3px 20px 0px rgba(0, 0, 0, 0.5);
  -webkit-transition: all 150ms ease-in;
  transition: all 150ms ease-in;
}

.ftr .ftr-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 70rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 4rem 2rem;
  padding-bottom: 2rem;
}

.ftr .ftr-links ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 2rem;
  list-style: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.ftr .ftr-links ul li a {
  text-decoration: none;
  color: #242124;
  font-weight: 300;
  font-size: 1.1rem;
}

.ftr span {
  width: 70rem;
  height: 2px;
  background: rgba(0, 0, 0, 0.2);
  border-radius: 50%;
  margin-bottom: 2rem;
}

.ftr .ftr-fprint {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 70rem;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-right: 2rem;
  padding-left: 2rem;
}

.ftr .ftr-fprint p {
  color: #a7a7a7;
}

.ftr .ftr-fprint div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1rem;
}

.ftr .ftr-fprint div a {
  text-decoration: none;
  color: #242124;
}

@media (max-width: 1000px) {
  .hdr {
    position: relative;
    padding: 0 1rem;
  }
  .hdr .menu-closed {
    display: block;
    height: 35px;
    cursor: pointer;
    z-index: 20;
  }
  .hdr .logo-container p {
    display: none;
  }
  .hdr .links {
    position: absolute;
    right: 0;
    left: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    top: -5px;
    z-index: 10;
    -webkit-transform: translateY(-120%);
            transform: translateY(-120%);
    -webkit-transition: -webkit-transform 500ms ease-in-out;
    transition: -webkit-transform 500ms ease-in-out;
    transition: transform 500ms ease-in-out;
    transition: transform 500ms ease-in-out, -webkit-transform 500ms ease-in-out;
  }
  .hdr .links ul {
    background: #fff;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-shadow: 0px 10px 14px 0px rgba(0, 0, 0, 0.45);
            box-shadow: 0px 10px 14px 0px rgba(0, 0, 0, 0.45);
    width: 15rem;
    border-radius: 0 0 7px 7px;
    padding: 2rem 0;
    border: 2px solid #3399cc;
    gap: 1.5rem;
  }
  .hdr .links ul li a {
    color: #242124;
    font-weight: 300;
  }
  .hdr .links ul li span {
    display: inline-block;
    height: 2px;
    background: #ccc;
    border-radius: 50%;
    width: 15rem;
  }
  .hdr .links ul li .auth-login, .hdr .links ul li .auth-signup {
    display: inline-block;
  }
  .hdr .links ul li .auth-signup {
    background: conic-gradient(from 90deg at bottom right, cyan, rebeccapurple);
    color: #fff;
    border-radius: 7px;
    padding: .5rem 1rem;
  }
  .hdr .links-active {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  .hdr .auth-btns {
    display: none;
  }
  main .hero {
    padding: 7rem 0;
    padding-bottom: 3rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  main .hero .hero--disp {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  main .hero .hero--disp .hero--title {
    font-size: 1.7rem;
    text-align: center;
  }
  main .hero .hero--disp .hero--desc {
    font-size: .9rem;
    text-align: center;
    width: 100%;
  }
  main .hero .hero--disp .hero--links {
    margin-top: 1rem;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 1rem;
  }
  main .hero img {
    position: relative;
    width: 100%;
    top: -100px;
    margin-bottom: -7rem;
  }
  main .testi {
    padding-right: 1rem;
    padding-left: 1rem;
  }
  main .testi--header {
    font-size: 2rem;
  }
  main .testi--content {
    font-weight: 300;
    font-size: .9rem;
  }
  main .features .feature {
    padding: 1rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 1rem;
  }
  main .features .feature h3 {
    font-size: 1.5rem;
  }
  main .features .feature .descs {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    -webkit-columns: 1;
            columns: 1;
  }
  main .features .feature .descs h4 {
    font-size: 1.2rem;
  }
  main .features .feature .descs p:nth-child(8), main .features .feature .descs h4:nth-child(7), main .features .feature .descs p:nth-child(6), main .features .feature .descs h4:nth-child(5) {
    display: none;
  }
  main .features .feature:nth-child(2n - 1) {
    padding: 1rem;
    -webkit-clip-path: none;
            clip-path: none;
  }
  .ftr .nwltr-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 90vw;
  }
  .ftr .nwltr-container .input {
    width: 80vw;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .ftr .nwltr-container .input input {
    width: 100%;
    text-align: center;
    padding: 1rem;
    padding-bottom: 1.5rem;
  }
  .ftr .nwltr-container .input button {
    width: 100%;
  }
  .ftr .ftr-links {
    padding-top: 1rem;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 2rem;
  }
  .ftr .ftr-fprint {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 1rem;
  }
  .hdr--trans {
    position: absolute;
  }
}
/*# sourceMappingURL=style.css.map */