@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

$conic: conic-gradient(from 90deg at bottom right, cyan, rebeccapurple);
$light: #fff;
$dark: #242124;
$primary: #3399cc;

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: Poppins, sans-serif;
	max-width: 100vw;
}

.hdr {
	background: $conic;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0 6rem;
	height: 64px;

	.logo-container {
		display: flex;
		gap: 1rem;

		img {
			height: 45px;
		}

		p {
			color: $light;
			font-size: 36px;
			font-family: Righteous;
		}
	}

	.menu-closed {
		display: none;
	}

	.links {
		z-index: 1;

		ul {
			display: flex;
			gap: 3rem;

			li {
				list-style: none;

				a {
					text-decoration: none;
					color: $light;
					font-size: 1.2rem;
					font-weight: 300;
					position: relative;
					
					&::after {
						content: '';
						position: absolute;
						bottom: 0;
						width: 0%;
						height: 2px;
						background: $light;
						right: 0;
						left: 0;
						transition: all 150ms ease-in-out;
					}

					&:hover::after, &:focus::after {
						width: 100%;
					}
				}

				.auth-login, .auth-signup {
					display: none;
				}
			}
		}
	}

	.auth-btns {
		display: flex;
		gap: 1rem;
		z-index: 1;

		a {
			text-decoration: none;
			color: $light;
			font-size: 1.2rem;
			font-weight: 300;
			padding: .5rem;
			position: relative;
		}

		.auth-login {
			position: relative;

			&::after {
				content: '';
				position: absolute;
				bottom: 0;
				width: 0%;
				height: 2px;
				background: $light;
				right: 0;
				left: 0;
				transition: all 150ms ease-in-out;
			}

			&:hover::after, &:focus::after {
				width: 100%;
			}
		}

		.auth-signup {
			background: $light;
			color: $primary;
			border-radius: 7px;
			&:hover, &:focus {
				background-color: #ccc;
			}
		}
	}
}

.hdr--trans {
	background: none;
	position: absolute;
	width: 100%;
	top: 0;
}

.login--page {
	background: $conic;
	background-repeat: no-repeat;
	height: 100vh;
	display: flex;
	flex-direction: column;
	align-content: center;
	align-items: center;
	justify-content: center;

	h1 {
		font-size: 5rem;
		color: $light;
	}

	.container {
		background: $light;
		padding: 2rem 1.2rem;
		border-radius: 20px;
		
		form {
			display: flex;
			flex-direction: column;
			gap: 1rem;

			label {
				display: flex;
				flex-direction: column;
				font-size: 1.2rem;
				font-weight: 400;

				input {
					padding: .6rem 1rem;
					font-size: 1rem;
					border-radius: 7px;
					border: 2px solid #ccc;

					&:hover, &:focus {
						outline: none;
						border-color: $primary;
					}
				}
				
				.smalltext {
					font-size: .8rem;
					font-weight: 400;
				}
			}

			.sessionInvalidation {
				display: inline-block;
				
				#sessionInvalidation {
					border: 1px solid $primary;
				}
			}

			.checktainer {
				position: relative;
				padding-left: 30px;

				input {
					position: absolute;
					opacity: 0;
					cursor: pointer;
					height: 0;
					width: 0;
				}

				.checkmark {
					position: absolute;
					top: 3px;
					left: 0;
					height: 20px;
					width: 20px;
					background: white;
					border: 2px solid #ccc;
					border-radius: 3px;
					transition: all 250ms ease-in-out;

					&:after {
						content: '';
						position: absolute;
						display: none;

						left: 6px;
						top: 2px;
						width: 5px;
						height: 10px;
						border: solid white;
						border-width: 0 3px 3px 0;
						transform: rotate(45deg);
					}
				}

				&:hover input~.checkmark {
					border-color: $primary;
				}

				input:checked~.checkmark {
					background: $primary;
					border: transparent;
				}

				input:checked~.checkmark:after {
					display: block;
				}

				input:focus~.checkmark {
					border-color: $primary;
				}
			}

			button {
				border: none;
				font-size: 1.2rem;
				background: $primary;
				color: $light;
				padding: .6rem;
				border-radius: 7px;
				font-weight: 600;
				text-transform: uppercase;
				cursor: pointer;

				&:hover, &:focus {
					background: $conic;
				}

			}
		}
	}
}

main {

	.hero {
		padding: 10rem 6rem;
		background: $conic;
		// clip-path: polygon(0 0, 100% 0, 100% 76%, 0 100%);
		// position: relative;

		.hero--disp {
			color: $light;
			display: flex;
			flex-direction: column;
			gap: 1rem;

			.hero--title {
				font-family: Montserrat;
				font-weight: 300;
				font-size: 3rem;

				span {
					font-weight: 700;
				}
			}

			.hero--desc {
				font-size: 1.05rem;
				font-weight: 300;
				width: 30rem;
				color: #ccc;
				span {
					font-weight: 700;
				}
			}

			.hero--links {
				display: flex;
				gap: 2rem;
				align-items: center;

				.hero--signup {
					background: $light;
					padding: .4rem 3.5rem;
					font-size: 1.3rem;
					font-weight: 700;
					border-radius: 7px;
					color: $primary;
					text-decoration: none;
					transition: all 150ms ease-in-out;
					// border: 2px solid $light;

					&:hover, &:focus {
						background: #ccc;
						// color: white;
						// box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, .5);
					}
				}
	
				.hero--demo {
					text-decoration: none;
					color: #ccc;
					font-weight: 500;
					font-size: .8rem;
					position: relative;

					&::after {
						content: '';
						position: absolute;
						bottom: 0;
						width: 0%;
						height: 1px;
						background: $light;
						right: 0;
						left: 0;
						transition: all 150ms ease-in-out;
					}
		
					&:hover::after, &:focus::after {
						width: 100%;
					}
				}
			}
		}

		img {
			position: absolute;
			right: 0;
			top: 1rem;
			width: 40%;
			z-index: 0;
			overflow: hidden;
		}
	}

	.testi {
		background: $conic;
		color: $light;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		padding: 3rem;

		&--header {
			font-size: 3rem;
			font-weight: 500;
			text-align: center;
			line-height: 1.2;
			margin-bottom: 2rem;
		}

		&--content {
			font-size: 1.1rem;
			text-align: center;
			max-width: 40rem;
			margin-bottom: 2rem;
		}
	}

	.placeholder {
		background: #ccc;
		height: 5rem;
	}

	.features {
		display: flex;
		flex-direction: column;
		gap: 2rem;

		.feature {
			display: grid;
			padding: 0rem 10rem;
			grid-template-columns: 1fr 1fr 1fr 1fr;
			align-items: center;

			h3 {
				grid-column: 1 / span 2;
				font-size: 2.5rem;
				font-weight: 600;
			}

			img {
				grid-column: 3 / span 4;
				grid-row: 1 / span 2;
			}

			.descs {
				grid-column: 1 / span 2;
				grid-row: 2;
				columns: 2;

				h4 {
					font-size: 1.3rem;
					font-weight: 500;
				}

				p {
					font-weight: 300;
					font-size: 1rem;
					color: rgba($color: #000000, $alpha: .6);
				}
			}

			&:nth-child(2n - 1) {
				background: rgba($color: $primary, $alpha: .4);
				clip-path: polygon(0 15%, 100% 0, 100% 85%, 0% 100%);
				padding: 4rem 7rem;

				img {
					grid-column: 1 / span 2;
				}

				h3 {
					grid-column: 3 / span 4;
				}

				.descs {
					grid-column: 3 / span 4;
				}
			}
		}
	}
}

.blank {
	height: 5rem;
}

.ftr {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	// margin: 0 20rem;

	.nwltr-container {
		background: $dark;
		color: $light;
		display: flex;
		align-items: center;
		justify-content: space-around;
		padding: 4rem 2rem;
		gap: 2rem;
		border-radius: 7px;
		width: 70rem;
		box-shadow: 0 2.5rem 25px rgba(0, 0, 0, .12);

		h4 {
			font-size: 2rem;
		}

		.input {
			background: $light;
			padding: .5rem;
			position: relative;
			border-radius: 7px;
			width: 30rem;
			display: flex;
			justify-content: space-between;

			input {
				font-size: 1rem;

				border: none;

				&:focus {
					outline: none;
				}
			}

			button {
				font-size: 1rem;
				border: none;
				background: $primary;
				color: $light;
				padding: 1rem;
				border-radius: 7px;
				cursor: pointer;

				&:focus {
					outline: none;
				}

				&:hover {
					// outline: none;
					box-shadow: inset 3px 3px 20px 0px rgba(0, 0, 0, .5);
					transition: all 150ms ease-in;
				}
			}
		}
	}

	.ftr-links {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		width: 70rem;
		align-items: center;
		padding: 4rem 2rem;
		padding-bottom: 2rem;

		ul {
			display: flex;
			flex-direction: row;
			gap: 2rem;
			list-style: none;
			align-items: center;

			li a {
				text-decoration: none;
				color: $dark;
				font-weight: 300;
				font-size: 1.1rem;
			}
		}
	}

	span {
		width: 70rem;
		height: 2px;
		background: rgba($color: #000000, $alpha: .2);
		border-radius: 50%;
		margin-bottom: 2rem;
	}

	.ftr-fprint {
		display: flex;
		width: 70rem;
		justify-content: space-between;
		padding-right: 2rem;
		padding-left: 2rem;

		p {
			color: #a7a7a7;
		}

		div {
			display: flex;
			gap: 1rem;

			a {
				text-decoration: none;
				color: $dark;
			}
		}
	}
}

@media (max-width: 1000px) {
	.hdr {
		position: relative;
		padding: 0 1rem;

		.menu-closed {
			display: block;
			height: 35px;
			cursor: pointer;
			z-index: 20;
		}

		.logo-container {

			p {
				display: none;
			}
		}

		.links {
			position: absolute;
			// background: white;
			right: 0;
			left: 0;
			display: flex;
			align-items: center;
			justify-content: center;
			top: -5px;
			z-index: 10;
			transform: translateY(-120%);
			transition: transform 500ms ease-in-out;
			
			ul {
				background: $light;
				flex-direction: column;
				align-items: center;
				justify-content: center;
				box-shadow: 0px 10px 14px 0px rgba(0,0,0,0.45);
				width: 15rem;
				border-radius: 0 0 7px 7px;
				padding: 2rem 0;
				border: 2px solid $primary;
				gap: 1.5rem;
				
				li {

					a {
						color: $dark;
						font-weight: 300;
					}
					
					span {
						display: inline-block;
						height: 2px;
						background: #ccc;
						border-radius: 50%;
						width: 15rem;
					}

					.auth-login, .auth-signup {
						display: inline-block;
					}

					.auth-signup {
						background: $conic;
						color: $light;
						border-radius: 7px;
						padding: .5rem 1rem;
					}
				}

			}
		}

		.links-active {
			transform: translateY(0);
		}

		.auth-btns {
			display: none;
		}
	}

	main {
		
		.hero {
			padding: 7rem 0;
			padding-bottom: 3rem;
			display: flex;
			flex-direction: column;

			.hero--disp {
				order: 2;

				.hero--title {
					font-size: 1.7rem;
					text-align: center;
				}

				.hero--desc {
					font-size: .9rem;
					text-align: center;
					width: 100%;
				}

				.hero--links {
					margin-top: 1rem;
					flex-direction: column;
					gap: 1rem;
				}
			}

			img {
				position: relative;
				width: 100%;
				top: -100px;
				margin-bottom: -7rem;
			}
		}

		.testi {
			padding-right: 1rem;
			padding-left: 1rem;

			&--header {
				font-size: 2rem;
			}

			&--content {
				font-weight: 300;
				font-size: .9rem;
			}
		}

		.features {

			.feature {
				padding: 1rem;
				display: flex;
				flex-direction: column;
				gap: 1rem;

				h3 {
					font-size: 1.5rem;
				}

				.descs {
					order: 2;
					columns: 1;

					h4 {
						font-size: 1.2rem;
					}

					p:nth-child(8), h4:nth-child(7), p:nth-child(6), h4:nth-child(5) {
						display: none;
					}  
				}

				&:nth-child(2n - 1) {
					padding: 1rem;
					clip-path: none;
				}
			}
		}
	}

	.ftr {

		.nwltr-container {
			flex-direction: column;
			width: 90vw;

			.input {
				width: 80vw;
				flex-direction: column;
				align-items: center;
				justify-content: center;

				input {
					width: 100%;
					text-align: center;
					padding: 1rem;
					padding-bottom: 1.5rem;
				}

				button {
					width: 100%;
				}
			}
		}

		.ftr-links {
			padding-top: 1rem;
			flex-direction: column;
			gap: 2rem;
		}

		.ftr-fprint {
			flex-direction: column;
			align-items: center;
			gap: 1rem;
		}
	}

	.hdr--trans {
		position: absolute;
	}
}